@charset " UTF=8";

<style>
body{
    background-color:azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: aliceblue;
    background-color: blue;
}
h2{
    color: blueviolet;
    background-color:;
}
</style>